// USER VARIABLES SECTION

$accent: orange; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$font: "PT Sans Narrow", "Arial", sans-serif; // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import "node_modules/bootstrap/scss/bootstrap-reboot.scss"; // Bootstrap Reboot collection

@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss"; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

// @mixin font($fname, $fstyle, $fweight, $furl) {
//    @font-face {
//       font-weight: $fweight;
//       font-family: $fname;
//       font-style: $fstyle;
//       // font-display: swap; // Uncomment to initially display system fonts
//       src: local($fname), url($furl) format("woff2");
//    }
// }


// HELPERS CLASSES



// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	color: #fff;
	background-color: $accent;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

input,
textarea {

	&:focus:required:invalid {
		border-color: red;
	}

	&:required:valid {
		border-color: green;
	}
}

body {
	position: relative;
	min-width: 320px;
	overflow-x: hidden;
	font-size: $fontsize;
	font-family: $font;
	line-height: 1.5;
}

img {
	min-width: 100%;
}
