{
   "extends": [
      "stylelint-config-airbnb",
      "stylelint-config-rational-order",
      "stylelint-prettier"
   ],
   "plugins": [
      "stylelint-order",
      "stylelint-scss"
   ],
   "rules": {
      "indentation": "tab"
   }
}
