<section class="benefits">
   <div class="benefits__wrapper slider">
      <h2 class="visually-hidden">Наши преимущества</h2>
      <ul class="benefits__list slider__list">
         <li class="benefits__item benefits__item--fast slider__item">
            <h3 class="benefits__title">Быстро</h3>
            <p class="benefits__text">Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки.</p>
         </li>
         <li class="benefits__item benefits__item--cool slider__item">
            <h3 class="benefits__title">Круто</h3>
            <p class="benefits__text">Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. Во всяком случае внешне.
            </p>
         </li>
         <li class="benefits__item benefits__item--price slider__item">
            <h3 class="benefits__title">Дорого</h3>
            <p class="benefits__text">Наши мастера — профессионалы своего дела и не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?</p>
         </li>
      </ul>
      <p class="benefits__toggles slider__toggles">
         <button class="slider__toggle" type="button">1</button>
         <button class="slider__toggle" type="button">2</button>
         <button class="slider__toggle" type="button">3</button>
      </p>
   </div>
</section>
